{% extends 'base.html.twig' %}
{% block body %}
    <h1>Home Page!</h1>
    <ul>
        <li>Show total numbers of cups done</li>
        <li>Show drinker of the month</li>
        <li>Show tea group of the month</li>
        <li>Big button to register or sign in</li>
    </ul>
{% endblock %}