{% extends 'base.html.twig' %}
{% block body %}
    <h1>Report Page - User admin logged in!</h1>
    <ul>
        <li>Show member of the months</li>
        <li>How many cups per months are made (chart)</li>
        <li>Total numbers of cup made from beginning</li>
    </ul>
{% endblock %}